@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700);

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 0px; }

.navbar .brand {font-family: 'UnifrakturCook', sans-serif; font-size: 2em;}



/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}


html body.admin-bar {
    margin-top: -28px !important;
}
#wpadminbar{
        margin-top: -20px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  z-index: 9999;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  background-image: -webkit-linear-gradient(bottom,green,#464646 5px);
  background-image: -moz-linear-gradient(bottom,green,#464646 5px);
  background-image: -o-linear-gradient(bottom,green,#464646 5px);
  background-image: -ms-linear-gradient(bottom,green,#464646 5px);
  background-image:linear-gradient(bottom,green,#464646 5px);
}

#wpadminbar:hover{
        opacity: .85;
        margin-top: 0;
}

.text-right {text-align: right;}
.font-smaller, .text-smaller blockquote {font-size: .90em;}